<section class="register">
  <div class="header">
    <h3>Sign Up</h3>
    <p>It's quick and easy</p>
  </div>
  <div class="body">
    <form #form="ngForm" class="login-form">
      <div class="user_name">
        <input
          type="text"
          name="firstName"
          ngModel
          placeholder="First Name"
          required
        />
        <input
          type="text"
          name="lastName"
          ngModel
          placeholder="Last Name"
          required
        />
      </div>
      <div class="email_password">
        <input type="email" name="email" ngModel placeholder="Email" required />
        <input type="text" name="avatar" ngModel placeholder="Image Url" />
        <input
          type="password"
          name="password"
          ngModel
          placeholder="Password"
          required
        />
      </div>
      <p>
        By clicking Sign Up you agree to our Terms, Data and Policy. You may
        receive SMS notifications from us and choose to opt out at any time
      </p>

      <button
        type="submit"
        class="submit-button"
        [disabled]="form.invalid || form.pending"
        [mat-dialog-close]="form.value"
      >
        Sign Up
      </button>
    </form>
  </div>
</section>
